@import "variable";
/*
* {
  border: 1px solid red;
}
*/

html,
body {
  margin: 0;
  font-family: $mainFont;
}

.title {
  text-align: center;
  font-size: 5rem;
  color: $dark-primary-color;
  margin-top: 3.5rem;
  padding: 1rem;
  background-color: $light-primary-color;
}

.main {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container-main {
  width: 33.333%;
  padding: 2rem;
}

.container-title {
  font-size: 1.5rem;
}

img {
  width: 100%;
  margin: 1rem 0;
}

.container-text {
  font-size: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  border: 0.1rem solid black;
  padding: 10px;
  margin: 1rem;
  background-color: $accent-color;
  color: $text-primary-color;
}

a:hover {
  background-color: $default-primary-color;
  transition: 1s;
}
